@use "../abstracts" as *;
@use "../abstracts/mediaQuery" as *;

.containerHeader {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}
.containerInfoHeaderContext {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showMenu {
  display: flex !important;
}
.notShowMenu {
  @include for-mobile {
    display: none !important;
  }
  @include for-tablet {
    display: flex;
  }
  @include for-laptop {
    display: flex;
  }
  @include for-desktop {
    display: flex;
  }
}
.containerInfoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  @include for-mobile {
    flex-direction: column;
    width: 100%;
  }
  @include for-tablet {
    width: 100%;
  }
  @include for-laptop {
    justify-content: space-evenly;
    width: 100%;
  }
  @include for-desktop {
    justify-content: space-between;
    width: 77%;
  }
  .btnShowMenu {
    display: none;
    @include for-mobile {
      font-size: 35px;
      display: block;
      width: 50px;
      background-color: $bgPage;
      border: none;
    }
  }
  .containerLogoAndWorkSchedule {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile {
      flex-wrap: wrap;
      width: 100%;
    }

    @include for-tablet {
      width: 58%;
      justify-content: space-around;
    }

    @include for-laptop {
      width: 53%;
    }
    @include for-desktop {
      width: 53%;
    }
  }
  @include for-mobile {
    .logoContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .logoTextAndImage {
    display: flex;
    align-items: center;
    width: 190px;
    span {
      font-size: 20px;
      font-weight: 600;
      font-family: $fontFamily;
      @include for-desktop {
        font-size: 27px;
      }
    }
    @include for-mobile {
      width: 150px;
    }
    @include for-tablet {
      span {
        font-size: 15px;
      }
      width: 123px;
    }

    @include for-laptop {
      width: 150px;
    }
  }
  .logoIcon {
    width: 39.37px;
    height: 46.91px;
  }
  .addressText {
    width: 114px;
    height: 34px;
    color: $colorTextGrey;
    line-height: 16.71px;
    font-size: 14px;
    font-weight: 600;
    font-family: $fontFamily;

    @include for-mobile {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    @include for-tablet {
      width: 86px;
      line-height: 19.71px;
      font-size: 12px;
    }
    @include for-laptop {
      height: 40px;
      line-height: 20px;
      width: 100px;
    }
  }
  .workScheduleContainer {
    display: flex;
    @include for-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .workSchedule {
    width: 138px;
    height: 40px;
    @include for-mobile {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    @include for-tablet {
      width: 130px;
    }
  }
  .paddingLeft {
    @include for-tablet {
      padding-left: 20%;
    }
    @include for-laptop {
      padding-left: 22%;
    }
    @include for-desktop {
      padding-left: 22%;
    }
  }
  .workScheduleDays {
    font-family: $fontFamily;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;

    @include for-tablet {
      font-size: 10px;
    }
  }
  .workScheduleHours {
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    @include for-tablet {
      font-size: 12px;
    }
  }
  .searchInputContainer {
    position: relative;
  }
  .loopImg {
    position: absolute;
    left: 90%;
    top: 25%;

    @include for-tablet {
      left: 85%;
      top: 30%;
      width: 15px;
      height: 15px;
    }
    @include for-laptop {
      left: 86%;
    }
  }
  .searchInput {
    width: 267px;
    height: 40px;
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.51px;
    text-align: left;
    border-radius: 4px;
    border: none;
    padding-left: 10px;

    @include for-tablet {
      width: 170px;
    }
    @include for-laptop {
      width: 200px;
    }
  }
  .searchInput::placeholder {
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.51px;
    text-align: left;
    color: $search;
  }
  .searchInput:focus {
    outline: none;
  }
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    @include for-mobile {
      align-items: center;
      height: 50px;
      margin: 20px;
    }
  }
  .contactNumber {
    font-family: $fontFamily;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.48px;
    text-align: left;
    color: $contactNumberColor;

    @include for-tablet {
      font-size: 11px;
      line-height: 12.71px;
    }
  }

  .callBack {
    width: 82px;
    height: 17px;
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.71px;
    text-align: right;
    color: $blue;
    text-decoration: underline;
    text-decoration-style: dashed;

    @include for-tablet {
      font-size: 11px;
      font-weight: 500;
      line-height: 9.71px;
    }
  }
  .containerSearchAndCallBack {
    display: flex;
    @include for-mobile {
      flex-direction: column;
    }
    @include for-tablet {
      width: 40%;
      justify-content: space-evenly;
    }
    @include for-laptop {
      width: 36%;
      justify-content: space-between;
    }

    @include for-desktop {
      width: 40%;
      justify-content: space-between;
    }
  }
}
.containerCategoriesHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $headerCategoriesBg;
  height: 51px;
  margin-top: 18px;

  @include for-mobile {
    height: 250px;
  }

  .CategoriesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile {
      flex-direction: column;
      justify-content: space-around;
      height: 90%;
    }
    @include for-tablet {
      width: 95.4%;
    }
    @include for-laptop {
      width: 92.6%;
    }
    @include for-desktop {
      width: 77%;
    }
  }
  .containerShoppingInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    height: 28px;

    @include for-tablet {
      width: 70px;
    }

    img {
      width: 18px;
      height: 18px;

      @include for-tablet {
        width: 15px;
        height: 15px;
      }
    }

    @include for-tablet {
      margin-right: 1.5%;
    }
    @include for-laptop {
      margin-right: 3%;
    }
    @include for-desktop {
      margin-right: 2%;
    }
  }
  .containerMenuAndDropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-mobile {
      flex-direction: column;
    }
    @include for-tablet {
      width: 85%;
    }
    @include for-laptop {
      width: 80%;
    }
    @include for-desktop {
      width: 80%;
    }
  }
  .itemsInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .summaText {
    font-family: $fontFamily;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: left;

    @include for-tablet {
      font-size: 10px;
    }
  }

  .amountItems {
    font-family: $fontFamily;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.32px;
    text-align: left;

    @include for-tablet {
      font-size: 10px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropBtn {
      height: 48px;
      width: 190px;
      background-color: $blue;
      color: $white;
      font-family: $fontFamily;
      font-weight: 500;
      font-size: 14px;
      line-height: 16.71px;
      border: none;

      @include for-mobile {
        margin-bottom: 10px;
      }
      @include for-laptop {
        width: 150px;
      }
      @include for-tablet {
        width: 120px;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 100%;
      height: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content Link {
      color: black;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .dropdown:hover .dropBtn {
    background-color: $blueHover;
  }
  .catalogMenuText {
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    text-align: left;
    text-decoration: none;
    color: $colorTextGrey;

    @include for-laptop {
      font-size: 12px;
    }
    @include for-tablet {
      font-size: 10px;
    }
  }
  .SelectHeader {
    border: none;
    background-color: $headerCategoriesBg;
  }
  .SelectHeader:focus {
    outline: none;
  }
}
