@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mediaQuery" as *;

.containerHeader {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}
.iPhoneSelect {
  @include for-mobile {
    display: none;
  }
  @include for-tablet {
    display: none;
  }
  @include for-laptop {
    display: none;
  }
  @include for-desktop {
    display: none;
  }
  @include for-desktop4K {
    display: none;
    width: 100px;
  }
}
.containerInfoHeaderContext {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showMenu {
  display: flex !important;
}
.notShowMenu {
  @include for-mobile {
    display: none !important;
  }
  @include for-tablet {
    display: flex;
  }
  @include for-laptop {
    display: flex;
  }
  @include for-desktop {
    display: flex;
  }
}
.containerInfoHeader {
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-LaptopL {
    justify-content: space-between;
    width: $weightLaptopLMore;
  }
  @include for-mobile {
    flex-direction: column;
    width: 100%;
  }
  @include for-tablet {
    width: 100%;
  }
  @include for-laptop {
    justify-content: space-between;
    width: 92%;
  }

  @include for-desktop {
    justify-content: space-between;
    width: 77%;

    @include for-retina {
      width: 90%;
    }
  }
  @include for-desktop4K {
    width: $widthContextDesktop4K;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .btnShowMenu {
    display: none;
    @include for-mobile {
      font-size: 35px;
      display: block;
      width: 50px;
      background-color: $bgPage;
      border: none;
    }
  }
  .containerLogoAndWorkSchedule {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }

    @include for-tablet {
      width: 58%;
      justify-content: space-around;
    }

    @include for-laptop {
      width: 53%;
    }
    @include for-LaptopL {
      width: 57%;
    }
    @include for-desktop {
      width: 53%;
    }
    @include for-desktop4K {
      width: 53%;
      height: 100%;
    }
  }
  @include for-mobile {
    .logoContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .workScheduleContainer {
    display: flex;
    @include for-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .workSchedule {
    width: 138px;
    height: 40px;
    @include for-mobile {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    @include for-tablet {
      width: 130px;
    }
    @include for-desktop4K {
      width: 250px;
      height: 100%;
    }
  }
  .paddingLeft {
    @include for-tablet {
      padding-left: 20%;
    }
    @include for-laptop {
      padding-left: 22%;
    }
    @include for-desktop {
      padding-left: 22%;
    }
    @include for-LaptopL {
      padding-left: 22%;
    }
    @include for-desktop4K {
      padding-left: 23%;
    }
  }
  .workScheduleDays {
    font-family: $fontFamily;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;

    @include for-tablet {
      font-size: 10px;
    }
    @include for-desktop4K {
      font-size: 23px;
      line-height: 31px;
    }
  }
  .workScheduleHours {
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    @include for-tablet {
      font-size: 12px;
    }
    @include for-laptop {
      font-size: 12px;
    }
    @include for-desktop4K {
      font-size: 23px;
      line-height: 30px;
    }
  }
  .searchInputContainer {
    position: relative;
  }
  .loopBtn {
    background-color: $white;
    position: absolute;
    left: 90%;
    top: 25%;
    cursor: pointer;
    border: none;
    @include for-tablet {
      left: 85%;
      top: 30%;
      width: 15px;
      height: 15px;
    }
    @include for-laptop {
      left: 90%;
      top: 30%;

      width: 15px;
      height: 15px;
    }
    @include for-desktop4K {
      top: 37%;
      width: 6%;
    }
  }
  .searchInput {
    width: 267px;
    height: 40px;
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.51px;
    text-align: left;
    border-radius: 4px;
    border: none;
    padding-left: 10px;

    @include for-tablet {
      width: 170px;
    }
    @include for-laptop {
      width: 260px;
    }
    @include for-desktop4K {
      width: 400px;
      height: 70px;
      font-size: 25px;
      line-height: 15.51px;
    }
  }
  .searchInput::placeholder {
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.51px;
    text-align: left;
    color: $search;

    @include for-desktop4K {
      font-size: 21px;
    }
  }
  .searchInput:focus {
    outline: none;
  }

  .containerSearchAndCallBack {
    display: flex;
    @include for-mobile {
      flex-direction: column;
    }
    @include for-tablet {
      width: 40%;
      justify-content: space-evenly;
    }
    @include for-laptop {
      width: 40%;
      justify-content: space-between;
    }
    @include for-LaptopL {
      width: 430px;
      justify-content: space-between;
    }
    @include for-desktop {
      width: 38%;
      justify-content: space-between;
      @include retina-laptop-l-half-1 {
        width: 40%;
      }
      @include retina-laptop-l-half-2 {
        width: 33%;
      }
    }
    @include for-desktop4K {
      height: 100%;
      width: 31%;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.addressText {
  color: $colorTextGrey;
  line-height: 16.71px;
  font-size: 14px;
  font-weight: 600;
  font-family: $fontFamily;

  @include for-mobile {
    justify-content: center;
    align-items: center;
  }
  @include for-tablet {
    line-height: 19.71px;
    font-size: 12px;
  }
  @include for-laptop {
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    width: 123px;
    font-weight: 500;
  }
  @include for-LaptopL {
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    width: 123px;
    font-weight: 600;
  }
  @include for-desktop4K {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 177px;
    line-height: 29.71px;
    font-size: 21px;
    font-weight: 500;
  }
}
.addressContainer {
  display: flex;
  flex-direction: column;
  @include for-mobile {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  @include for-mobileS {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.containerCategoriesHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $headerCategoriesBg;
  height: 51px;
  margin-top: 18px;

  @include for-mobile {
    height: 350px;
  }
  @include for-desktop4K {
    height: 80px;
  }
  .CategoriesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile {
      flex-direction: column;
      justify-content: space-around;
      height: 90%;
    }
    @include for-tablet {
      width: 95.4%;
    }
    @include for-laptop {
      width: 92.6%;
    }
    @include for-desktop {
      width: 77%;
      @include for-retina {
        width: 90%;
      }
    }
    @include for-LaptopL {
      width: $weightLaptopLMore;
    }
    @include for-desktop4K {
      width: $widthContextDesktop4K;
    }
  }
  .containerShoppingInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    height: 28px;

    @include for-mobile {
      width: 70px;
      margin-top: 1rem;
    }
    @include for-tablet {
      width: 62px;
    }
    @include for-laptop {
      width: 70px;
    }
    @include for-desktop {
      width: 70px;
    }
    @include for-desktop4K {
      padding-right: 2%;
      width: 6.5%;
      height: 100%;
    }
    @include for-LaptopL {
      width: 70px;
    }
    img {
      width: 18px;
      height: 18px;

      @include for-tablet {
        width: 15px;
        height: 15px;
      }
      @include for-desktop4K {
        width: 30px;
        height: 32px;
      }
    }

    @include for-tablet {
      margin-right: 1.5%;
    }
    @include for-laptop {
      margin-right: 3%;
    }
    @include for-desktop {
      margin-right: 2%;
    }
    @include for-LaptopL {
      margin-right: 3%;
    }
  }
  .containerMenuAndDropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-mobile {
      flex-direction: column;
      height: 90%;
    }
    @include for-tablet {
      width: 85%;
    }
    @include for-laptop {
      width: 80%;
    }
    @include for-desktop {
      width: 80%;
    }
    @include for-desktop4K {
      width: 83%;
    }
    @include for-LaptopL {
      width: 80%;
    }
  }
  .itemsInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-desktop4K {
      height: 40px;
    }
  }

  .summaText {
    font-family: $fontFamily;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.32px;
    text-align: left;

    @include for-tablet {
      font-size: 10px;
    }
    @include for-desktop4K {
      font-size: 24px;
    }
  }

  .amountItems {
    font-family: $fontFamily;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.32px;
    text-align: left;

    @include for-tablet {
      font-size: 10px;
    }
    @include for-desktop4K {
      font-size: 23px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropBtn {
      height: 48px;
      width: 190px;
      background-color: $blue;
      color: $white;
      font-family: $fontFamily;
      font-weight: 500;
      font-size: 14px;
      line-height: 16.71px;
      border: none;
      cursor: pointer;

      @include for-mobile {
        margin-bottom: 10px;
      }
      @include for-laptop {
        width: 150px;
      }
      @include for-tablet {
        width: 120px;
      }
      @include for-desktop4K {
        width: 292px;
        height: 80px;
        font-size: 24px;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 100%;
      height: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content Link {
      color: black;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .dropdown:hover .dropBtn {
    background-color: $blueHover;
  }
  .catalogMenuText {
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    text-align: left;
    text-decoration: none;
    color: $colorTextGrey;

    @include for-laptop {
      font-size: 10px;
    }
    @include for-tablet {
      font-size: 10px;
    }
    @include for-desktop4K {
      font-size: 23px;
    }
  }

  .SelectWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      padding-left: 0.5rem;

      @include for-mobile {
        width: 8px;
        height: 15px;
      }
      @include for-tablet {
        width: 8px;
        height: 15px;
      }
      @include for-laptop {
        width: 8px;
        height: 15px;
      }
      @include for-desktop {
        width: 10px;
        height: 15px;
      }
      @include for-desktop4K {
        width: 15px;
        height: 15px;
      }
    }
  }

  .SelectHeader {
    border: none;
    background-color: $headerCategoriesBg;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .SelectHeader:focus {
    outline: none;
  }
}
.logoTextAndImage {
  display: flex;
  align-items: center;
  width: 190px;
  justify-content: space-between;
  text-decoration: none;
  color: $linkLogoColor;
  span {
    font-size: 20px;
    font-weight: 600;
    font-family: $fontFamily;
    @include for-desktop {
      font-size: 27px;
      @include for-retina {
        font-size: 27.5px;
      }
    }
    @include for-desktop4K {
      font-size: 37px;
    }
  }
  @include for-mobile {
    width: 150px;
  }
  @include for-tablet {
    span {
      font-size: 15px;
    }
    width: 123px;
  }

  @include for-laptop {
    width: 150px;
    span {
      font-size: 20px;
    }
  }
  @include for-LaptopL {
    span {
      font-size: 26px;
    }
  }
  @include for-desktop4K {
    width: 292px;
    span {
      font-size: 37px;
    }
  }
}
.logoIcon {
  width: 39.37px;
  height: 46.91px;

  @include for-mobile {
    width: 30px;
    height: 35px;
  }
  @include for-tablet {
    width: 30px;
    height: 35px;
  }
  @include for-laptop {
    width: 30px;
    height: 35px;
  }
  @include for-desktop4K {
    width: 89.37px;
    height: 86.91px;
  }
}
