@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mediaQuery" as *;
.amountProductContainer {
  display: flex;
  border-radius: 5px;
  background-color: $bgPage;
  width: 97px;
  height: 38px;
  @include for-desktop4K {
    width: 152px;
    height: 60px;
  }
  button {
    background-color: $bgPage;
    border-radius: 5px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    color: $btnsAmountProject;
    font-size: 20px;

    @include for-desktop4K {
      font-size: 30px;
    }
  }
  span {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: $bgPage;

    color: $blue;
    font-family: $fontFamily;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    @include for-desktop4K {
      font-size: 24px;
    }
  }
}
