@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mediaQuery" as *;

.navProduct {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
  @include containerResponsiveWidth;

  .linkMainPage {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: $greyNavLink;

    @include for-desktop4K {
      font-size: 17px;
    }
  }
  img {
    width: 10px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    @include for-desktop4K {
      width: 15px;
    }
  }
  .selectedProduct {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: $greySelectedProduct;

    @include for-desktop4K {
      font-size: 17px;
    }
  }
}
