@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mediaQuery" as *;

.containerContent {
  display: flex;
  justify-content: space-between;
  @include containerResponsiveWidth;

  @include for-desktop4K {
    height: 1000px;
    margin-top: 4rem;
  }
  @include for-LaptopL {
    margin-top: 2rem;
  }
  @include for-mobile {
    height: 1000px;

    flex-direction: column;
  }
  .containerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 730px;
    height: 373px;
    @include for-desktop4K {
      width: 1430px;
      height: 870px;
    }
    @include for-laptop {
      width: 670px;
      height: 440px;
      margin-top: 1rem;
    }
    @include for-tablet {
      width: 495px;
      height: 445px;
      margin-top: 1rem;
    }
    @include for-mobile {
      margin-top: 1.5rem;
      height: 440px;
      width: 100%;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      @include for-desktop4K {
        height: 631px;
      }
      @include for-mobileL {
        width: 400px;
      }
      @include for-mobileM {
      }
      @include for-mobileS {
      }
      @include for-mobile {
        overflow-x: auto;
        display: block;
      }
      tbody {
        tr:nth-child(1) {
          border-top: 1px solid $borderTable;
          border-bottom: 1px solid $borderTable;
        }
        tr {
          border-bottom: 1px solid $borderTable;
        }
      }
    }
    .quantityProduct {
      position: relative;
      width: 20%;
      height: 100%;

      @include for-mobile {
        width: 26%;
        height: 100%;
      }
      div {
        position: absolute;
        top: 30%;
        left: 17%;

        @include for-desktop4K {
          top: 33%;
          left: 23%;
        }
        @include for-laptop {
          top: 32%;
          left: 16%;
        }
        @include for-tablet {
          top: 34%;
          left: 9%;
        }
        @include for-mobile {
          top: 31%;
          left: 16%;
        }
      }
    }
    .border {
      border: 1px solid #e3e9ef;
    }
    .productFlex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;

      @include for-desktop4K {
        width: 430px;
      }
      @include for-laptop {
        width: 260px;
      }
      @include for-tablet {
        width: 230px;
      }
      @include for-mobile {
        width: 190px;
      }
      .productImg {
        width: 117.75px;
        height: 94px;
        border-radius: 6.09px;

        @include for-desktop4K {
          width: 166.75px;
          height: 194px;
          border-radius: 6.09px;
        }
        @include for-laptop {
          width: 95.75px;
          height: 96px;
          border-radius: 6.09px;
        }
        @include for-tablet {
          width: 78.75px;
          height: 94px;
        }
        @include for-mobile {
          width: 69.75px;
          height: 85px;
        }
      }
      .productName {
        width: 142px;
        height: 68px;

        font-family: $fontFamily;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;

        line-clamp: 5;
        color: $greyOnlineStore;

        @include for-desktop4K {
          width: 241px;
          height: 104px;
          font-size: 21px;
        }
        @include for-tablet {
          height: 43px;
          font-size: 11px;
        }
        @include for-mobile {
          width: 110px;
        }
      }
    }
    .thHead {
      height: 35px;
      font-family: $fontFamily;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: $thHead;

      @include for-desktop4K {
        height: 45px;
        font-size: 22px;
      }
    }
    .sumProduct {
      text-align: center;

      .sum {
        font-family: $fontFamily;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        @include for-desktop4K {
          font-size: 32px;
        }
        @include for-tablet {
          font-size: 16px;
        }
      }
      .dollarChar {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;

        @include for-desktop4K {
          font-size: 23px;
        }
      }
    }
    .priceProduct {
      text-align: center;
      font-family: $fontFamily;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: $shippingTitle;
      @include for-desktop4K {
        font-size: 32px;
      }
      @include for-tablet {
        font-size: 14px;
      }
      @include for-mobile {
        font-size: 15px;
      }
    }
    .sumContainer {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;

      .totalSumContainer {
        margin-top: 2rem;
        display: flex;

        .totalText {
          font-family: $fontFamily;
          font-weight: 600;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $titleGoodInfo;

          @include for-desktop4K {
            font-size: 36px;
          }
        }
        .sumText {
          font-family: $fontFamily;
          font-weight: 600;
          font-size: 22px;
          line-height: 18px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: $linkContinueShopping;

          @include for-desktop4K {
            line-height: 34px;
            font-size: 38px;
          }
        }
      }
      .linkContinueShopping {
        font-family: $fontFamily;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: $linkContinueShopping;
        text-decoration: dashed underline;
        @include for-desktop4K {
          font-size: 28px;
        }
      }
    }
    h1 {
      font-family: $fontFamily;
      font-weight: 600;
      font-size: 50px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: $greyOnlineStore;
      @include for-desktop4K {
        font-size: 75px;
      }
      @include for-laptop {
        font-size: 40px;
        line-height: 66%;
      }
      @include for-tablet {
        font-size: 40px;
      }
    }
    .amountProductContainer {
      display: flex;
      border-radius: 5px;
      background-color: $bgPage;
      width: 97px;
      height: 38px;
      @include for-desktop4K {
        width: 152px;
        height: 60px;
      }
      @include for-laptop {
        width: 87px;
        height: 32px;
      }
      @include for-tablet {
        width: 80px;
        height: 30px;
      }
      @include for-mobile {
        width: 74px;
        height: 30px;
      }
      button {
        background-color: $bgPage;
        border-radius: 5px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        border: none;
        color: $btnsAmountProject;
        font-size: 20px;
        cursor: pointer;

        @include for-desktop4K {
          font-size: 30px;
        }
        @include for-laptop {
          font-size: 17px;
        }
        @include for-tablet {
          font-size: 17px;
        }
      }
      span {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        background-color: $bgPage;

        color: $blue;
        font-family: $fontFamily;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        @include for-desktop4K {
          font-size: 24px;
        }
        @include for-laptop {
          font-size: 13px;
        }
        @include for-tablet {
          font-size: 12px;
        }
      }
    }
  }
  .containerCheckOut {
    height: 560px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    @include for-desktop4K {
      height: 975px;
    }
    @include for-laptop {
      height: 492px;
    }
    @include for-tablet {
      margin-top: 0.8rem;
    }
    h1 {
      font-family: $fontFamily;
      font-weight: 600;
      font-size: 24px;
      line-height: 58px;
      letter-spacing: 0%;
      color: $greyOnlineStore;
      @include for-desktop4K {
        font-size: 40px;
        line-height: 64px;
      }
    }
    .formCheckout {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 301px;
      height: 500px;

      @include for-desktop4K {
        width: 501px;
        height: 860px;
      }
      @include for-laptop {
        width: 245px;
        height: 430px;
      }
      @include for-tablet {
        width: 215px;
      }
      .submitBtn {
        width: 100%;
        height: 38px;
        border-radius: 5px;
        border: none;
        background-color: $blue;
        @include for-desktop4K {
          width: 100%;
          height: 68px;
          border-radius: 14px;
        }
        .submitBtnText {
          font-family: $fontFamily;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: $white;
          @include for-desktop4K {
            font-size: 24px;
          }
        }
      }
      .typesDeliveryHeading {
        font-family: $fontFamily;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0%;
        vertical-align: middle;
        margin-bottom: 5px;
        color: #00000082;

        @include for-desktop4K {
          font-size: 22px;
          margin-bottom: 1rem;
        }
      }
      .checkoutInput {
        width: 285px;
        height: 38px;
        border-radius: 6px;
        border-width: 1px;
        border-color: #838b9542;

        font-family: $fontFamily;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0%;
        vertical-align: middle;
        padding-left: 5%;
        outline: none;
        background-color: $bgPage;
        @include for-desktop4K {
          height: 66px;
          font-size: 24px;
          border-radius: 12px;
          width: 474px;
        }
        @include for-laptop {
          width: 235px;
          height: 32px;
          padding-left: 3%;
          font-size: 11px;
        }
        @include for-tablet {
          width: 206px;
          padding-left: 3%;
          font-size: 11px;
          height: 31px;
        }
      }
      .typesDeliveryContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 216px;
        width: 100%;

        @include for-desktop4K {
          height: 360px;
          width: 100%;
        }
        @include for-laptop {
          width: 100%;
          height: 198px;
        }
        @include for-tablet {
          height: 210px;
        }
        .buttonDeliveryTypeSmallText {
          width: 60px;
          height: 32px;

          @include for-desktop4K {
            width: 94px;
            height: 52px;
          }
        }
        .buttonDeliveryTypeFullText {
          width: 100%;
          height: 32px;
        }
        .spansButtonDeliveryType {
          display: flex;
          text-align: start;
          align-items: center;

          font-family: $fontFamily;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          vertical-align: middle;

          @include for-desktop4K {
            font-size: 24px;
            line-height: 27px;
          }
          @include for-laptop {
            font-size: 11px;
          }
          @include for-tablet {
            font-size: 11px;
          }
        }
        .imgsTypesDelivery {
          @include for-desktop4K {
            width: 44px;
            height: 43px;
          }
          @include for-laptop {
            width: 18px;
          }
        }
        .typesDeliveryHeadingAndTwoTypes {
          display: flex;
          flex-direction: column;
        }
        .twoTypesDelivers {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        .buttonDeliveryType {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          padding-left: 1rem;
          width: 145px;
          height: 89px;
          border-radius: 6px;
          border-width: 1px;

          @include for-desktop4K {
            width: 240px;
            height: 150px;
            border-radius: 14px;
          }
          @include for-laptop {
            width: 118px;
            height: 76px;
            padding-left: 0.5rem;
          }
          @include for-tablet {
            width: 103px;
            border-radius: 5px;
          }
        }
        .buttonDeliveryTypeFullBlock {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          padding-left: 1rem;
          width: 301px;
          height: 89px;
          border-radius: 6px;
          border-width: 1px;

          @include for-desktop4K {
            width: 100%;
            height: 150px;
          }
          @include for-laptop {
            width: 100%;
          }
          @include for-tablet {
            width: 215px;
          }
        }
        .buttonDeliveryTypeNotActive {
          background-color: $bgPage;
          border-color: $borderTypeDelivery;
          span {
            color: $typeDeliveryColor;
          }
        }
        .buttonDeliveryTypeActive {
          border-width: 0px;
          background-color: $blue;

          span {
            color: $white;
          }
        }
      }
    }
  }
}
