@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mediaQuery" as *;

.containerDeliveryGoods {
  display: flex;
  justify-content: space-between;
  @include containerResponsiveWidth;

  @include for-desktop {
    height: 405px;
    @include retina-laptop-l-half-1 {
      align-items: center;
      height: 454px;
    }
    @include retina-laptop-l-half-2 {
      align-items: center;
      height: 415px;
    }

    img {
      width: 48%;
      @include retina-laptop-l-half-1 {
        width: 57%;
      }
      @include retina-laptop-l-half-2 {
        width: 59%;
      }
      @include for-desktop {
        width: 55%;
      }
    }
  }
  @include for-laptop {
    img {
      width: 50%;
    }
  }
  @include for-tablet {
    flex-direction: column;
    justify-content: space-between;
    height: 930px;

    img {
      width: 100%;
    }
  }
  @include for-mobile {
    flex-direction: column;

    img {
      height: 100%;
      width: 100%;
    }
  }
  @include for-desktop4K {
    height: 700px;
    img {
      width: 52%;
    }
  }
  .deliveryGoodsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
    @include for-mobile {
      width: 100%;
      height: 350px;
      margin-top: 15px;
    }
    @include for-tablet {
      height: 400px;
    }
    @include for-laptop {
      width: 440px;
      @include retina-laptop-l-half-1 {
        height: 357px;
      }
    }
    @include for-desktop {
      width: 440px;
      @include retina-laptop-l-half-1 {
        height: 406px;
      }
      @include retina-laptop-l-half-2 {
        width: 480px;
        height: 416px;
      }
    }
    @include for-desktop4K {
      width: 46%;
      height: 700px;
    }
    .deliveryGoodsTitle {
      font-family: $fontFamily;
      font-size: 50px;
      font-weight: 600;
      line-height: 48px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $greyOnlineStore;
      @include for-laptop {
        font-size: 38px;
        line-height: 36px;
      }
      @include for-mobile {
        font-size: 35px;
        line-height: 35px;
      }
      @include for-desktop {
        font-size: 41px;
        @include retina-laptop-l-half-1 {
          font-size: 41px;
          line-height: 44px;
        }
        @include retina-laptop-l-half-2 {
          font-size: 41px;
          line-height: 48px;
        }
      }
      @include for-desktop4K {
        font-size: 72px;
        font-weight: 600;
        line-height: 81px;
      }
    }
    .deliveryGoodsSubtitle {
      font-family: $fontFamily;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $paragraphOnlineStore;
      @include for-desktop {
        @include retina-laptop-l-half-1 {
          font-size: 14px;
        }
        @include retina-laptop-l-half-2 {
          font-size: 14px;
        }
      }
      @include for-laptop {
        font-size: 12px;
      }
      @include for-mobile {
        font-size: 12px;
      }
      @include for-desktop4K {
        font-size: 24px;
        line-height: 38px;
      }
    }
    .deliveryGoodsParagraph {
      font-family: $fontFamily;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $paragraphOnlineStore;
      @include for-desktop {
        @include retina-laptop-l-half-1 {
          font-size: 15px;
        }
        @include retina-laptop-l-half-2 {
          font-size: 15px;
        }
      }
      @include for-laptop {
        font-size: 11px;
      }
      @include for-mobile {
        font-size: 12px;
      }
      @include for-desktop4K {
        font-size: 24px;
        line-height: 54px;
      }
    }
  }
  .deliveryGoodsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
  }
}
