@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mediaQuery" as *;

.infoAndReviewsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include containerResponsiveWidth;

  @include for-desktop4K {
    height: 1800px;
  }
  @include for-tablet {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1700px;
    flex-wrap: nowrap;

    .positionContainer:nth-child(2) {
      order: 3;
    }
  }
  @include for-mobile {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1500px;
    flex-wrap: nowrap;

    .positionContainer:nth-child(2) {
      order: 3;
    }
  }
}
.descriptionContainer {
  width: 635px;
  @include for-desktop4K {
    width: 60%;
  }
  @include for-laptop {
    width: 481px;
  }
  @include for-mobile {
    width: 100%;
  }
  .descriptionInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    padding: 20px;
    height: 551px;

    @include for-desktop4K {
      height: 1100px;
      justify-content: space-between;
      padding: 40px;
      border-radius: 20px;
    }
    @include for-laptop {
      padding: 17px;
    }
    @include for-mobile {
      height: 472px;
    }
    span {
      font-family: $fontFamily;
      font-weight: 300;
      font-size: 12px;
      line-height: 19px;
      color: $spanGoodInfo;

      @include for-desktop4K {
        font-size: 27px;
        line-height: 42px;
      }
      @include for-laptop {
        font-size: 13px;
        line-height: 19px;
      }
      @include for-tablet {
        font-size: 14px;
        line-height: 19px;
      }
    }
    .imgDescription {
      @include for-desktop4K {
        width: 91%;
        height: 100%;
      }
      @include for-laptop {
        width: 85%;
        height: 100%;
      }
      @include for-mobile {
        width: 90%;
        height: 100%;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 18px;
      border: none;
      background-color: $white;
      cursor: pointer;
      span {
        color: $blue;
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        vertical-align: middle;

        @include for-desktop4K {
          font-size: 24px;
          line-height: 40px;
        }
        @include for-laptop {
          font-size: 12px;
          line-height: 19px;
        }
        @include for-tablet {
          font-size: 11px;
          line-height: 19px;
        }
        @include for-mobile {
          font-size: 11px;
          line-height: 19px;
        }
      }
      img {
        @include for-desktop4K {
          width: 17px;
          height: 17px;
        }
      }
      @include for-desktop4K {
        width: 200px;
        height: 30px;
      }
    }
  }
}
.productOptionsContainer {
  display: flex;
  justify-content: space-between;
  height: 356px;

  @include for-desktop4K {
    height: 700px;
  }
  @include for-mobile {
    flex-direction: column;
  }
  @include for-mobileL {
    height: 800px;
  }
  @include for-mobileM {
    height: 800px;
  }
  @include for-mobileS {
    height: 830px;
  }
  @include containerResponsiveWidth;
  .productsImgsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48.5%;
    @include for-mobile {
      width: 100%;
    }
    @include for-laptop {
      width: 49%;
    }

    .mainProductImgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 445px;
      height: 356px;
      border-radius: 23px;
      background-color: $white;
      @include for-mobile {
        width: 75%;
      }
      @include for-desktop4K {
        width: 75%;
        height: 100%;
        border-radius: 30px;
      }
      @include for-laptop {
        width: 348px;
        height: 100%;
        border-radius: 20px;
      }
      .mainProductImg {
        width: 96%;
        height: 99%;
      }
    }

    .productImgListContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .productImgOverFlow {
        display: flex;
        justify-content: space-between;
        overflow: auto;
        height: 85%;
      }
      .productImgList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .liNotActive {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 66px;
          border-radius: 8px;
          border-width: 1px;
          background-color: $white;
          border-color: $brItemImg;
          border-style: solid;
        }
        .liActive {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 66px;
          border-radius: 8px;
          border-width: 1px;
          border-color: $activeBrItemImg;
          background-color: $white;
          border-style: solid;
        }
      }
    }
  }
  .productInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;

    @include for-desktop4K {
      width: 48.1%;
    }
    @include for-LaptopL {
      width: 48.8%;
    }
    @include for-laptop {
      width: 49.1%;
    }
    @include for-mobile {
      width: 100%;
    }
    @include for-mobileL {
      height: 430px;
    }
    @include for-mobileM {
      height: 430px;
    }
    @include for-mobileS {
      height: 450px;
    }
    .nameProduct {
      font-family: $fontFamily;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: $shippingTitle;

      @include for-desktop4K {
        font-size: 41px;
        line-height: 100%;
      }
    }
    .stockAndVendorCodeContainer {
      display: flex;
      align-items: center;
      .spanGreyBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 25px;
        border-radius: 25px;
        background-color: $greyBox;

        @include for-desktop4K {
          width: 140px;
          height: 60px;
        }
      }
      span {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;

        @include for-desktop4K {
          font-size: 27px;
        }
      }
      #greenColorText {
        color: $greenColorText;
      }
      #errorColorText {
        color: $promoRed;
      }
      #greyColorText {
        color: $greyColorText;
      }
      #vendorCode {
        color: $vectorColor;
      }
    }
    .colorsContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      h4 {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: $vectorColor;

        @include for-desktop4K {
          font-size: 27px;
        }
      }
      .colorsList {
        display: flex;
        align-items: center;
        overflow: auto;
        margin-top: 0.5rem;
        width: 100%;
        height: 100%;
        @include for-desktop4K {
          margin-top: 1rem;
        }
        li:nth-child(1) {
          margin-left: 0;
        }
        li {
          margin-left: 2%;
        }
        .colorBlock {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          cursor: pointer;

          @include for-desktop4K {
            width: 40px;
            height: 40px;
            border-radius: 9px;
          }
        }
        .activeColorLi {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          cursor: pointer;
          background-color: #cee7e8;

          @include for-desktop4K {
            width: 40px;
            height: 40px;
            border-radius: 7px;
          }
        }
        .activeColorDiv {
          width: 12.26px;
          height: 12.26px;
          border-radius: 3px;

          @include for-desktop4K {
            width: 25px;
            height: 25px;
            border-radius: 6px;
          }
        }
      }
    }
    .modelsContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      h4 {
        font-family: $fontFamily;
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: $vectorColor;
        @include for-desktop4K {
          font-size: 27px;
        }
      }
      .modelsList {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        button {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          border-radius: 5px;
          font-family: $fontFamily;
          font-weight: 400;
          font-size: 11px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          padding: 10px;
          border: none;
          cursor: pointer;

          @include for-desktop4K {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 24px;
            line-height: 100%;
            padding: 15px;
          }
        }
        .btnModel {
          color: $modelBtn;
        }
        .btnActiveModel {
          color: $blue;
          border-color: #adc9e4;
          border-style: solid;
          border-width: 1px;
        }
      }
    }
    .priceContainer {
      display: flex;
      height: 10%;
      align-items: baseline;
      h1 {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: $shippingTitle;

        @include for-desktop4K {
          font-size: 60px;
        }
      }
      span {
        font-family: $fontFamily;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: $shippingTitle;

        @include for-desktop4K {
          font-size: 31px;
          margin-left: 0.5rem;
        }
      }
    }
    .btnBuyProductContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @include for-mobile {
        align-items: end;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      @include for-mobileM {
        flex-wrap: nowrap;
      }
      @include for-mobileL {
        flex-wrap: nowrap;
      }
      @include for-mobileS {
        flex-wrap: wrap-reverse;
      }
      @include for-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .amountProductContainer {
        display: flex;
        border-radius: 5px;
        background-color: $bgPage;
        width: 97px;
        height: 38px;
        border-width: 1px;
        border-color: #e3e9ef;
        border-style: solid;
        @include for-tablet {
          width: 121px;
        }
        @include for-mobileS {
          width: 130px;
        }
        @include for-desktop4K {
          width: 189px;
          height: 78px;
          border-width: 2px;
          border-radius: 10px;
        }
        button {
          background-color: $bgPage;
          border-radius: 5px;
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          border: none;
          color: $btnsAmountProject;
          font-size: 20px;
          cursor: pointer;

          @include for-desktop4K {
            font-size: 39px;
          }
        }
        span {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          background-color: $bgPage;

          color: $blue;
          font-family: $fontFamily;
          font-size: 15px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          @include for-desktop4K {
            font-size: 31px;
          }
        }
      }

      .basketBtn {
        width: 102px;
        height: 38px;
        border-radius: 5px;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        @include for-mobile {
          width: 90px;
        }
        @include for-tablet {
          width: 126px;
        }
        @include for-desktop4K {
          width: 188px;
          height: 78px;
          border-radius: 10px;
        }
        @include for-mobileS {
          width: 130px;
        }
        img {
          width: 12px;
          height: 11px;
          margin-left: 3px;

          @include for-desktop4K {
            width: 33px;
            height: 22px;
          }
        }
        span {
          font-family: $fontFamily;
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $white;
          @include for-mobile {
            font-size: 11px;
          }
          @include for-tablet {
            font-size: 11px;
          }
          @include for-desktop4K {
            font-size: 25px;
            line-height: 18px;
          }
        }
      }
      .buyOneClickContainer {
        display: flex;
        position: relative;
        height: 100%;
        width: 250px;
        @include for-tablet {
          margin-top: 0rem;
          height: 40px;
        }
        @include for-desktop4K {
          width: 57%;
        }
        @include for-mobileL {
          width: 200px;
        }
        @include for-mobileM {
          width: 200px;
        }
        @include for-mobileS {
          width: 100%;
          height: 55px;
        }
        .phoneNumber {
          padding-left: 0.5rem;
          width: 119px;
          height: 37px;
          border-radius: 7px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-width: 1px;
          border-style: solid;
          border-color: $inputGreyColor;
          background-color: $bgPage;

          font-family: $fontFamily;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0%;
          vertical-align: middle;

          @include for-mobile {
            padding-top: 0px;
            font-size: 11px;
            height: 38px;
          }
          @include for-mobileM {
            width: 119px;
          }
          @include for-mobileS {
            width: 50%;
          }
          @include for-tablet {
            margin-top: 0;
            font-size: 11px;
          }
          @include for-desktop4K {
            height: 96%;
            width: 47%;
            font-size: 21px;
            border-width: 2px;
            border-radius: 11px;
            padding-left: 1.5rem;
          }
          &:focus {
            outline: none;
          }
        }
        .buyOneClick {
          position: absolute;
          left: 49%;
          width: 129px;
          height: 39px;
          border-radius: 7px;
          background-color: $inputGreyColor;
          font-family: $fontFamily;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: $blue;
          border: none;
          cursor: pointer;
          z-index: 1;

          @include for-mobile {
            font-size: 11px;
            width: 96px;
          }
          @include for-mobileS {
            width: 50%;
            height: 41px;
          }
          @include for-tablet {
            font-size: 11px;
            width: 103px;
          }
          &:hover {
            background-color: rgb(207, 207, 207);
          }

          @include for-desktop4K {
            height: 100%;
            width: 53%;
            font-size: 24px;
            border-radius: 15px;
            left: 47%;
          }
        }
      }
    }
  }
  .productImgListButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $listImgBtn;
  }
}
.titleSection {
  font-family: $fontFamily;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: $titleGoodInfo;

  @include for-desktop4K {
    font-size: 36px;
    line-height: 100%;
    font-weight: 500;
  }
  @include for-mobile {
    font-size: 20px;
  }
}
.shippingAndPaymentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include containerResponsiveWidth;
  .shippingBgImg {
    background-image: url("../../assets/locationMark.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: 80%;
  }
  .paymentBgImg {
    background-image: url("../../assets/paymentBg.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  @include for-tablet {
    height: 350px;
    flex-direction: column;
  }
  @include for-mobile {
    height: 350px;
    flex-direction: column;
  }
  .shippingAndPaymentBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 540px;
    height: 156px;

    border-radius: 12px;
    background-color: $shippingBg;

    @include for-desktop4K {
      width: 48%;
      height: 300px;
      border-radius: 20px;
    }
    @include for-laptop {
      width: 465px;
      height: 156px;
    }

    @include for-mobile {
      width: 100%;
    }

    .containerContent {
      margin-left: 1.5rem;

      @include for-desktop4K {
        margin-left: 3rem;
      }
    }

    h3 {
      font-family: $fontFamily;
      font-weight: 700;
      font-size: 18px;
      line-height: 25.8px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: $shippingTitle;
      margin-bottom: 0.7rem;

      @include for-desktop4K {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 1rem;
      }
      @include for-mobile {
        font-size: 16px;
        line-height: 25px;
      }
    }
    .imgAndTextContainer {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;

      span {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        vertical-align: middle;
        padding-left: 0.5rem;
        color: $shippingTitle;

        @include for-desktop4K {
          font-size: 24px;
          line-height: 34px;
        }
        @include for-mobile {
          font-size: 11px;
        }
      }
    }
  }
}
.giftMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 156px;
  border-radius: 12px;
  margin-top: 3rem;
  margin-bottom: 3rem;

  background-image: url("../../assets/bgImgGift.svg"),
    url("../../assets/giftIPhonesBg.svg"),
    linear-gradient(135deg, rgba(114, 0, 204, 1) 31%, rgba(64, 141, 218, 1) 85%);

  background-size: 100% 100%, 100% 100%, 100% 100%;
  @include containerResponsiveWidth;

  @include for-desktop4K {
    height: 288px;
    border-radius: 25px;
  }
  @include for-laptop {
    height: 133.4px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  @include for-tablet {
    height: 103.1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  @include for-mobile {
    height: 103.1px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-image: url("../../assets/giftIPhonesBg.svg"),
      linear-gradient(
        135deg,
        rgba(114, 0, 204, 1) 31%,
        rgba(64, 141, 218, 1) 85%
      );

    background-size: 100% 100%, 100% 100%, 100% 100%;
  }
  span {
    font-family: $fontFamily;
    font-weight: 700;
    font-size: 18.68px;
    line-height: 30.35px;
    letter-spacing: 7%;
    vertical-align: middle;
    text-transform: uppercase;
    color: $white;
    margin-left: 5%;

    @include for-desktop4K {
      font-size: 40.68px;
      line-height: 30.35px;
      letter-spacing: 7%;
      vertical-align: middle;
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 5%;
    }
    @include for-laptop {
      font-size: 16px;
      line-height: 30.35px;
    }
    @include for-tablet {
      font-size: 12px;
      line-height: 30.35px;
    }
    @include for-mobile {
      font-size: 13px;
      line-height: 30.35px;
    }
  }
  h1 {
    font-family: $fontFamily;
    font-weight: 700;
    font-size: 54.72px;
    line-height: 30.11px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 5%;
    margin-top: 1rem;

    color: $white;

    @include for-desktop4K {
      font-size: 104.72px;
      line-height: 30.11px;
      letter-spacing: 0%;
      vertical-align: middle;
      text-transform: uppercase;
      margin-top: 4rem;
      color: #ffffff;
    }
    @include for-laptop {
      font-size: 42px;
      line-height: 30.11px;
      margin-top: 0.5rem;
    }
    @include for-tablet {
      font-size: 35px;
      line-height: 30.11px;
      margin-top: 0rem;
    }
    @include for-mobile {
      font-size: 29px;
      line-height: 30.11px;
      margin-top: 0rem;
    }
  }
}
.imgShippingAndPayment {
  width: 17px;
  height: 17px;

  @include for-desktop4K {
    width: 35px;
    height: 30px;
  }
}
.reviewsContainer {
  width: 445px;
  @include for-desktop4K {
    height: 1178px;
    width: 38%;
  }
  @include for-mobile {
    width: 100%;
  }
  .reviewsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 586px;

    border-radius: 10px;
    background-color: $white;

    @include for-desktop4K {
      height: 100%;
    }
    @include for-LaptopL {
      height: 592px;
    }

    .formContainer {
      height: 245px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include for-desktop4K {
        height: 500px;
      }
      @include for-mobile {
        width: 100%;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        width: 90%;

        @include for-desktop4K {
          height: 80%;
        }
      }
      .formTitleContainer {
        display: flex;
        align-items: flex-start;
        width: 90%;
        .formTitle {
          font-family: $fontFamily;
          font-weight: 500;
          font-size: 19px;
          line-height: 19px;
          color: $trGoodInfo;
          margin-top: 1rem;
          margin-bottom: 1rem;

          @include for-desktop4K {
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
.characteristicsContainer {
  table {
    width: 635px;
    height: 209px;
    border-radius: 10px;
    text-align: left;
    color: $trGoodInfo;
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 24px;
    background-color: $white;
    border-spacing: 0px;
    padding: 10px;

    @include for-desktop4K {
      width: 1228px;
      height: 400px;
      font-size: 31px;
      line-height: 40px;
      padding: 25px;
      border-radius: 20px;
    }
    @include for-laptop {
      font-size: 11.5px;
      line-height: 20px;
      width: 481px;
    }
    @include for-mobile {
      width: 100%;
      font-size: 11px;
    }
    @include for-mobileM {
      font-size: 10px;
    }
  }

  tbody tr {
    background-color: $rowTableColor;
  }
  tbody tr:nth-child(2) {
    background-color: $white;
  }
  .trTitle {
    font-weight: 500;
    padding-left: 1rem;
    width: 50%;
    @include for-desktop4K {
      padding-left: 3rem;
    }
  }
  #textMove {
    vertical-align: baseline;

    @include for-desktop4K {
      padding-top: 2rem;
    }
    @include for-LaptopL {
      padding-top: 1rem;
    }
    @include for-laptop {
      padding-top: 1rem;
    }
    @include for-tablet {
      padding-top: 0.7rem;
    }
    @include for-mobileL {
      padding-top: 0.7rem;
    }

    @include for-mobileM {
      padding-top: 0.5rem;
    }
  }
  .trSubtitle {
    font-weight: 400;
    padding-right: 10px;
  }

  th {
    border-radius: 6px 0px 0px 6px;
    height: 47px;

    @include for-desktop4K {
      border-radius: 20px 0px 0px 20px;

      height: 70px;
    }
  }
  td {
    border-radius: 0px 6px 6px 0px;
    height: 47px;
    @include for-desktop4K {
      border-radius: 0px 20px 20px 0px;

      height: 70px;
    }
  }

  tr:nth-child(3) {
    height: 84px;
    border-radius: 0px 6px 6px 0px;
    @include for-desktop4K {
      border-radius: 20px 20px 20px 20px;
    }
  }
  .titleTop {
    @include for-desktop4K {
      border-radius: 20px 20px 20px 20px;
      width: 100%;
      height: 100%;
    }
  }
  .tnp {
    display: flex;
    align-items: self-start;
    width: 100%;
    height: 100%;
  }
}
.submitFormContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;

    @include for-desktop4K {
      width: 140px;
    }

    li {
      width: 17px;
      height: 17px;

      img {
        width: 100%;
        height: 100%;
      }

      @include for-desktop4K {
        width: 25px;
        height: 25px;
      }
    }
  }
  button {
    width: 188px;
    height: 39px;
    border-radius: 9px;
    background-color: $blue;
    border: none;
    color: white;

    font-family: $fontFamily;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;

    @include for-desktop4K {
      width: 300px;
      height: 70px;
      font-size: 24px;
    }
    @include for-mobileS {
      width: 140px;
      font-size: 12px;
    }
    @include for-mobileM {
      width: 152px;
      font-size: 12px;
    }
  }
}
.inputsForm {
  background-color: $inputBg;
  border-radius: 9px;
  padding-left: 1rem;
  font-family: $fontFamily;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  border: none;
  color: $titleGoodInfo;

  @include for-desktop4K {
    font-size: 24px;
    line-height: 40px;
  }
}
.inputsFormError {
  background-color: $inputBg;
  border-radius: 9px;
  padding-left: 1rem;
  font-family: $fontFamily;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  border: $promoRed solid;
  color: $titleGoodInfo;
}

.inputsFormNameAndEmail {
  width: 172px;
  height: 39px;

  @include for-desktop4K {
    width: 300px;
    height: 70px;
  }
  @include for-mobile {
    height: 39px;
  }
  @include for-mobileM {
    width: 136px;
  }
  @include for-mobileS {
    width: 112px;
  }
  @include for-mobileL {
    width: 158px;
  }
  &::placeholder {
    color: $textInput;
  }
}
.areaForm {
  width: 388px;
  height: 59px;
  border-radius: 9px;
  padding-top: 0.5rem;
  resize: none;
  color: $titleGoodInfo;

  @include for-desktop4K {
    width: 100%;
    height: 100px;
  }

  &::placeholder {
    color: $textInput;
  }
}
.goldStar {
  width: 17px;
  height: 17px;

  @include for-desktop4K {
    width: 25px;
    height: 25px;
  }
  @include for-laptop {
    width: 13px;
    height: 13px;
  }
  @include for-tablet {
    width: 14px;
    height: 13px;
  }
}
