@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mediaQuery" as *;

.needHelpContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }

  @include for-mobile {
    margin-top: 30px;

    padding-left: $paddingContainer;
    padding-right: $paddingContainer;
  }

  @include for-tablet {
    margin-top: 35px;
  }
  @include for-laptop {
    margin-top: 45px;
  }
  @include for-desktop {
    margin-top: 100px;
  }
  @include for-desktop4K {
    margin-top: 60px;
  }
  @include containerResponsiveWidth;
  .needHelpContentContainer {
    width: 45%;
    position: absolute;
    left: 4%;
    top: 20%;

    .titleNeedHelp {
      font-family: $fontFamily;
      font-size: 24.88px;
      font-weight: 700;
      line-height: 25.8px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $white;
      @include for-mobileS {
        line-height: 4px;
        font-size: 8px;
      }
      @include for-mobileM {
        line-height: 10px;
        font-size: 8px;
      }
      @include for-mobileL {
        line-height: 10px;
        font-size: 10px;
      }
      @include for-tablet {
        line-height: 19px;

        font-size: 17px;
      }
      @include for-laptop {
        font-size: 20px;
      }
    }
    .subtitleNeedHelp {
      font-family: $fontFamily;
      font-size: 13px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $white;

      @include for-mobileS {
        font-size: 3.5px;
        line-height: 9px;
      }
      @include for-mobileM {
        font-size: 4px;
        line-height: 9px;
      }

      @include for-mobileL {
        font-size: 5px;
        line-height: 11px;
      }
      @include for-laptop {
        font-size: 11px;
      }
      @include for-tablet {
        font-size: 9px;
        line-height: 20px;
      }
      @include for-desktop {
        @include for-retina {
          font-size: 15px;
          line-height: 40px;
        }
      }
    }
    form {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      button {
        width: 158px;
        height: 38px;
        border-radius: 5px;
        color: $blue;
        border: none;
        background-color: $white;
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        @include for-mobileS {
          height: 14px;
          font-size: 4px;
          border-radius: 3px;
          width: 45px;
          line-height: 15px;
        }
        @include for-mobileM {
          height: 14px;
          font-size: 4px;
          border-radius: 2px;
          width: 55px;
          line-height: 15px;
        }
        @include for-mobileL {
          height: 18px;
          font-size: 6px;
          border-radius: 4px;
          width: 70px;
        }
        @include for-tablet {
          height: 24px;
          font-size: 10px;
          border-radius: 4px;
          width: 100px;
        }
        @include for-laptop {
          font-size: 12px;
          width: 125px;
          height: 33px;
        }
        @include for-desktop {
          @include for-retina {
            width: 200px;
          }
        }
      }
      input {
        max-width: 166px;
        height: 38px;
        border-radius: 6px;
        border: 1px solid grey;
        background-color: transparent;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-left: 15px;
        outline: none;
        color: $white;

        @include for-mobileS {
          height: 13px;
          font-size: 5px;
          padding-left: 2px;
          border-radius: 3px;
          width: 40px;
        }
        @include for-mobileM {
          height: 13px;
          font-size: 5px;
          padding-left: 4px;
          border-radius: 3px;
          width: 48px;
        }

        @include for-mobileL {
          height: 17px;
          font-size: 6px;
          padding-left: 4px;
          border-radius: 4px;
          width: 50px;
        }
        @include for-tablet {
          height: 24px;
          font-size: 10px;
          padding-left: 7px;
          border-radius: 4px;
          width: 100px;
        }
        @include for-laptop {
          width: 125px;
          height: 33px;
        }
        @include for-desktop {
          @include for-retina {
            width: 200px;
          }
        }
      }
      input:focus {
        border: 1px solid $white;
        color: $white;
      }
      input::placeholder {
        color: grey;
      }
      input::placeholder {
        color: grey;
      }
      input::-webkit-input-placeholder {
        color: grey;
      }
      input:-ms-input-placeholder {
        color: grey;
      }
      input::-moz-placeholder {
        color: grey;
      }
      input:-moz-placeholder {
        color: grey;
      }
    }
  }
}
