$colorTextGrey: #3c3c3c;
$bgPage: #f8f9fd;
$search: #dbdfeb;
$contactNumberColor: #343434;
$headerCategoriesBg: #e7eaf3;
$blue: #0066cc;
$blueHover: #0058af;
$white: #ffffff;
$categoryTextColor: #3d3f47;
$borderCategoryBtns: #eceef1;
$colorsProductText: #282828;
$btnsAmountProject: #c4c4c4;
$categoriesCardsColorText: #313131;
$greyOnlineStore: #333333;
$paragraphOnlineStore: #464646;
$promoRed: #cc3c3c;
$promoGreen: #54b66f;
$promoBlue: #5a71aa;
$emailLabelGreen: #969696;
$greenCopyright: #b1b1b1;
$greyNavLink: #636363;
$greySelectedProduct: #7a7a7a;
$itemsCountsColors: #bfbfbf;
$rangePriceLineColor: #a7c9eb;
$linkLogoColor: #191919;
$greyTitleFilter: #444444;
$inputGreyColor: #eceef4;
$applyBtnBorderColor: #c8dded;
$applyBtnBoxShadowColor: #004d8429;
$titleGoodInfo: #272727;
$spanGoodInfo: #595959;
$trGoodInfo: #626262;
$rowTableColor: #f1f2f6;
$inputBg: #f2f4f9;
$textInput: #a9a9a9;
$createDate: #aeaeae;
$shippingBg: #ebedf4;
$shippingTitle: #3d3d3d;
$listImgBtn: #d3d8e8;
$brItemImg: #f2f2f2;
$activeBrItemImg: #aebecd;
$greenColorText: #359e6c;
$greyBox: #efefef;
$greyColorText: #7b7b7b;
$vectorColor: #696969;
$modelBtn: #444444;
$thHead: #989898;
$borderTable: #e8ecf1;
$linkContinueShopping: #4984c9;
