$colorTextGrey: #3c3c3c;
$bgPage: #f8f9fd;
$search: #dbdfeb;
$contactNumberColor: #343434;
$headerCategoriesBg: #e7eaf3;
$blue: #0066cc;
$blueHover: #0058af;

$white: #ffffff;
$categoryTextColor: #3d3f47;
$borderCategoryBtns: #eceef1;
