$colorTextGrey: #3c3c3c;
$bgPage: #f8f9fd;
$search: #dbdfeb;
$contactNumberColor: #343434;
$headerCategoriesBg: #e7eaf3;
$blue: #0066cc;
$blueHover: #0058af;
$white: #ffffff;
$categoryTextColor: #3d3f47;
$borderCategoryBtns: #eceef1;
$colorsProductText: #282828;
$btnsAmountProject: #c4c4c4;
$categoriesCardsColorText: #313131;
$greyOnlineStore: #333333;
$paragraphOnlineStore: #464646;
$promoRed: #cc3c3c;
$promoGreen: #54b66f;
$promoBlue: #5a71aa;
$emailLabelGreen: #969696;
$greenCopyright: #b1b1b1;
