@use "./mediaQuery" as *;
@use "./variables" as *;

@mixin containerResponsiveWidth {
  @include for-desktop4K {
    width: $widthContextDesktop4K;
  }
  @include for-desktop {
    width: $widthContextDesktop;

    @include for-retina {
      width: $widthContextDesktopRetina;
    }
  }
  @include for-laptop {
    width: $widthContextLaptop;
  }
  @include for-tablet {
    width: $widthContextTablet;
  }
}
