$mobileS: 375px;
$mobileM: 425px;
$mobile: 576px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;

$desktopScreen: 2560px;

$fontFamily: "Roboto", "Open Sans Condensed", "Open Sans SemiCondensed",
  sans-serif;

$widthContextTablet: 95.4%;
$widthContextLaptop: 92.6%;
$widthContextDesktop: 77%;
$widthContextDesktop4K: 1109px;
$widthContextDesktopRetina: 90%;

$slideCategoryInfoLeftPositionContent: 8%;

$paddingContainer: 15px;

$ProductCardBorderRadius: 17px;
