@use "../abstracts/" as *;

.pageDefault {
  background-color: $bgPage;
  width: 100%;
  max-width: $desktop;
  min-height: 100vh;

  @media (max-width: $mobile) {
    width: 100%;
    min-height: 100vh;
  }

  @media (min-width: $mobile + 1) and (max-width: $tablet-portrait) {
    width: 100%;
    min-height: 100vh;
  }

  @media (min-width: $tablet-portrait + 1) and (max-width: $tablet-landscape) {
    width: 100%;
    min-height: 100vh;
  }

  @media (min-width: $tablet-landscape + 1) {
    width: 100%;
    max-width: $desktop;
    min-height: 100vh;
  }
}
.containerContentPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
