@use "../abstracts/" as *;

.pageDefault {
  background-color: $bgPage;
  width: 100%;
  max-width: $desktop;
  min-height: 100vh;

  @include for-mobile {
    width: 100%;
    min-height: 100vh;
  }
  @include for-tablet {
    width: 100%;
    min-height: 100vh;
  }
  @include for-laptop {
    width: 100%;
    min-height: 100vh;
  }
  @include for-desktop {
    width: 100%;
    max-width: $desktop;
    min-height: 100vh;
  }
}
.containerContentPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
