@use "../public/fonts/Roboto" as *;
@use "../public/fonts/OpenSans/" as *;
@use "../public/fonts/OpenSans/static/" as *;

* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0px;

  li {
    margin: 0;
    padding: 0;
  }
}
