* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none; /* Убираем маркеры */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  padding-inline-start: 0px;

  li {
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
  }
}
